@model HumanResources.Models.Client

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nif)
        </dd>

        <!-- ADICIONADO: Campo para mostrar o Email de Login -->
        <dt class="col-sm-3">
            Email de Login
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>
